body {
    background: #cbf7ed;
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
    color: #23395d;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23395d;
    color: #e0eafc;
    box-shadow: 0 2px 8px rgba(35,57,93,0.1);
    border-bottom: 4px solid #406e8e;
}

.car_img {
    max-width: 80px;
}